* {
    margin: 0;
    padding: 0;
    font-size: 10px;
}

.boton,
.btn {
    background-color: $primario;
    color: $blanco;
    text-decoration: none;
    padding: .5rem 1rem;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 1rem;
    border: none;
    display: inline;
    max-width: 13rem;
    border: 1px solid $primarioOscuro;
    transition: color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}

.boton:hover,
.btn:hover {
    background-color: $secundario;
    color: $primarioOscuro;
}