.descargas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;

    .descargas__categorias {
        h2 {
            text-align: start;
        }

        .descargas__enlaces {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 2rem;

            .descargas__descarga {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 2rem;
                width: 35rem;
                padding: 0 1rem;
                border-radius: 2rem;
                background-color: $primarioOscuro;

                img {
                    width: 3.5rem;
                }
            }
        }
    }
}

@media (max-width: 1200px) {

    .descargas {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {

    .descargas {
        display: block;

        .descargas__categorias {
            h2 {
                text-align: center;
            }

            .descargas__enlaces {
                align-items: center;
            }
        }
    }
}

@media (max-width: 320px) {

    .descargas {
        .descargas__categorias {
            .descargas__enlaces {
                .descargas__descarga {
                    flex-wrap: wrap;
                    justify-content: space-evenly;
                    gap: .5rem;
                    width: 20rem;
                    padding: 2rem;
                }
            }
        }
    }
}