.informacion-index {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;

    .informacion-index__img {
        height: 28.6rem;
        border-radius: 2rem;
        border: 2px solid $primarioOscuro;
    }

    .informacion-index__texto {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.cartas {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    a {
        text-decoration: none;

        .cartas__carta {
            background-color: $primario;
            width: 21rem;
            min-height: 28.7rem;
            margin: auto;
            padding: 2rem 0;
            border-radius: 1rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            border: 2px solid $primarioOscuro;
            box-shadow: 9px 9px 15px 6px $grisOscuro;
            transition: all .5s;

            &:hover {
                border: 2px solid $secundario;
                transform: scale(1.05);

                i {
                    background-color: $secundario;
                }
            }

            h4 {
                font-weight: bold;
                color: $blanco;
            }

            i {
                font-size: 3rem;
                background-color: $primarioOscuro;
                width: 100%;
                display: block;
                text-align: center;
                box-sizing: border-box;
                padding: 1rem 2rem;
                transition: background-color 0.3s ease-in-out;
                color: $blanco;
            }

            p {
                color: $blanco;
                padding: 1.35rem;
            }
        }
    }
}

.mapa-google {
    width: 100%;
    max-width: 132rem;
    border-radius: 2rem;
}

@media (max-width: 992px) {

    .informacion-index {
        display: block;

        .informacion-index__img {
            display: none;
        }
    }

    .cartas {
        display: block;

        a {
            .cartas__carta {
                width: 100%;
                min-height: auto;
                margin-bottom: 2rem;
            }
        }
    }
}

@media (max-width: 768px) {

    .encuentranos {
        display: none;
    }
}