.nosotros__contenido {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2rem;
    grid-template-areas:
        "parrafo-1 parrafo-imagen"
        "parrafo-2 parrafo-imagen"
        "parrafo-3 parrafo-3"
    ;

    .parrafo-imagen {
        background-image: url('../img/nosotros2.jpg');
        height: 100%;
        background-position: center;
        background-size: cover;
        grid-area: parrafo-imagen;
    }

    .parrafo-1 {
        grid-area: parrafo-1;
    }

    .parrafo-2 {
        grid-area: parrafo-2;
    }

    .parrafo-3 {
        grid-area: parrafo-3;
    }

}

.carousel-item {
    img {
        max-width: 100rem;
        margin: auto;
        border-radius: 5rem;
    }
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: var(--negro);
    border-radius: 100%;
    padding: 1.5rem
}

@media (max-width: 1200px) {

    .carousel-item {
        img {
            max-width: 80rem;
        }
    }
}

@media (max-width: 1024px) {

    .nosotros__contenido {
        display: block;

        .parrafo-imagen {
            height: 400px;
        }
    }
}

@media (max-width: 992px) {

    .carousel-item {
        img {
            max-width: 56rem;
        }
    }
}

@media (max-width: 768px) {
    .carousel-item {
        img {
            max-width: 45rem;
        }
    }
}

@media (max-width: 540px) {

    .carousel,
    .nosotros-trabajos,
    .parrafo-imagen {
        display: none;
    }

    .nosotros__contenido {
        display: block;
    }
}