%links-navegacion {
    .nav-link {
        font-size: 1.8rem;
        color: $blanco;
        font-weight: bold;
        transition: color 0.3s ease-in-out;

        &:hover {
            color: $secundario;
        }
    }
}