@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&family=Source+Sans+3:wght@300;400;900&display=swap');

$fuenteTitulo: 'Oswald', sans-serif;
$fuenteParrafos: 'Source Sans 3', sans-serif;

$primario: #40798C;
$primarioOscuro: #1F363D;
$secundario: #FFA500;
$secundarioOscuro: #FF6200;
$precio: #16a816;
$blanco: #ffffff;
$negro: #000000;
$gris: #b1adad;
$grisOscuro: #3d3d3d;